<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/style.css">
<title>Tarjetas con Diseño</title>
</head>
<body>
  <div class="card">
    <img src="../img/corazon.svg" alt="Icono 1" class="card-icon">
    <img src="../img/batman_fondo.png" alt="Imagen 1" class="card-image">
    
    <div class="card-content">
 
      <h2>Título de la Tarjeta 1</h2>
      <p>Contenido de la tarjeta 1...</p>
    </div>
  </div>
  <!-- Repite el bloque .card para las otras tarjetas -->
</body>
</html>
