<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Página Principal</title>
</head>
<body>

    <header class="banner">
        <nav class="menu">
            <ul>
                <li><a href="sobremi.html">-> Sobre Mí <-</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="profile">
            <img src="../img/foto perfil zoom.jpg" alt="Your Face">
        </div>
    </main>

    <footer class="footer">
        <div class="social-icons">
            <a target="_blank" href="https://github.com/brainmasterlol"><img src="../img/github.png" alt="GitHub"></a>
            <a target="_blank" href="https://www.instagram.com/bruno_gall/"><img src="../img/instagram.svg" alt="Instagram"></a>
            <a target="_blank" href="https://www.linkedin.com/in/bruno-francisco-gallegos-freire-58211423b"><img src="../img/linkedin.png" alt="LinkedIn"></a>
        </div>
    </footer>

</body>
</html>
