<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Clase 7</title>
</head>
<body>

    <div class="banner"><p>Descuentos 20%</p></div>

    <header><p>Heroes</p></header>

    <main>
        <div class="container">
            <div class="card">
                <i class="fa-solid fa-heart" style="color: #ff1a1a;"></i>
                <img src="../img/fondo_harley.png" alt="">
                <img src="../img/harley.png" alt="">
                <div class="description">
                    <h2>Harley Quinn</h2>
                    <p>La creación de Harley Quinn fue una idea de último minuto propuesta por el escritor estadounidense Paul Dini para modificar una escena del vigésimo-segundo episodio de Batman: la serie animada
                    </p>
                    <button>Ver más</button>
                </div>
            </div>
        </div>
    </main>

    <footer><p>Todos los derechos reservados a FRONT END 1</p></footer>

</body>
</html>