@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300;1,900&family=REM:wght@300&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/*****Parámetros generales*****/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

/*****Mobile*****/

/****header****/

header{
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 10.875rem;
    justify-content: space-around;
    position: sticky;
    top:0px;
    z-index: 2;
}

.logo img{
    height: 1.563rem;
}

.logo .bola{
    margin-right: 0.3rem;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    color: #232851;
    font-size: 0.813rem;
    margin: 0 1rem;
    text-decoration: none;
}

.contact a,
.button-more a,
.button-go a{
    align-items: center;
    background-color: #8B48BF;
    border: none;
    border-radius: 3.125rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: small;
    height: 2.75rem;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 8.375rem;
}

header nav ul li,
header .contact{
    display: none;
}

.fa-solid.fa-bars{
    font-size: 3.75rem;
}

/*****main*****/

.container{
    display: flex;
    flex-direction: column;
}

/****section-intro****/

.section-intro{
    align-items: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.section-intro .contact{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.section-intro img{
    width: 21rem; 
    height: 21rem;
}

.cont-intro{
    margin-right: 0rem;
}

.cont-intro h1{
    color: #232851;
    display: flex;
    flex-direction: column;
    font-size: 2.7rem;
    height: 19rem;
    justify-content: space-around;
    text-align: right;
    width: 24rem; 
}

.cont-intro p{
    font-size: 1.035rem;
    height: 4.438rem;
    line-height: 1.626rem;
    text-align: right;
    width: 24rem;
}

/****section-note****/

.section-note .note-head{
    background-color: #3CDDF3;
    display: flex;
    flex-direction: column;
    height: 19.125rem;
    justify-content: space-around;
    padding-left: 1.5rem;
    
}

h2{
    color: white;
    font-size: 2rem;

}

.section-note .note-head h2{
    width: 22rem; 
}

.section-note .note-head p{
    color: white; 
    font-size: 1rem;
    width: 21rem;
}

.note-head p.second-paragraph{ 
    display: none;
    
}

/****note-body****/

.note-body{
    background-color: #FAFAFA; 
    display: flex;
    flex-direction: column; 
    margin-right: 10rem;
    margin-top: 5rem;
    width: 100%;
}

.note {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.note-body h4{
    align-items: center;  
    background-color: #dcc8ec;
    color: #1E1E26;
    display: flex;
    height: 2.688rem;
    margin-left: -1rem;
    padding-left: 3rem;
}

.note-body .note-text p{
    color:#B3B2B7;
    font-size: 1.019rem;
    margin: 2rem 0rem 2rem 0rem;
}

.number{
    background-color: #8B48BF;
    border-radius: 1.875rem;
    color: white;
    height: 2.688rem;
    left:1rem;
    margin: 0rem 1rem 1rem 1rem;
    padding: 0.625rem 1.563rem 0.625rem 1.563rem;
    position: relative;
    width: 4.313rem;
    z-index: 1;
}

.note-text{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-around;
}

/*section-best*/

.section-best{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.title-best{
    color: #242E53;
    margin-bottom: 6rem;
    margin-top: 4rem;
    text-align: center;
}

.section-best-body{
    background-color: #FAFAFA;
    display: flex;
    height: 15rem;
    text-align: center;
}

.section-best-body h5{
    color: #3F4868;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
}

.section-best-body p{
    color: #B9B9C1;
    font-size: 1rem;
    line-height: 1.563rem;
    padding: 0rem 0.5rem;
}

.section-best-body article:nth-child(1), .section-best-body article:nth-child(3){
    display: none;
}

.section-best-body article{
    position: relative;
}

.section-best-body img{
    bottom: 70%;
    left: 42%;
    margin: 2rem 0;
    position:absolute;
    size: 70px;
    text-align: center;
}

.button-more{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

/****section-information****/

.section-information{
    align-items: center;
    background-color: #3CDDF3;
    display: flex;
    flex-direction: column;
    height: 22.875rem;
    justify-content: space-around;
    text-align: center;
}

.section-information h2{
    font-size: 2.5rem;
    width: 18rem;
}

.button-go a{
    background-color: #232C50;
}

/*****footer*****/

footer{
    background-color: #1E1E26;
}

footer .container-footer{
    display: flex;
    flex-direction: column;
    height: 33.375rem;
    justify-content: space-around;
}
  
.social-net-footer {
    order: 3; 
}
  
.form-footer{
    display: flex;
    justify-content: center;
    order: 1;
}

.form-footer input{ 
    border-radius: 3.125rem;
    border: solid 0 black;
    height: 2.75rem;
    padding: 0.625rem;
    width: 15rem; 
}

.form-footer button{
    background-color: #8B48BF;
    border-radius: 3.125rem;
    border: solid 0 black;
    color: white;
    height: 2.625rem;
    margin-left: 0.3rem;
    padding: 0.625rem;
    width: 3.938rem;
}

.nav-footer{
    display: flex;
    justify-content: space-around;
    margin-top: -3.5rem;
    order: 2;
}

.nav-footer ul{
    list-style: none;
}

.nav-footer ul li{
    margin: 1rem;
}

.nav-footer ul li a{
    color: white;
    font-weight: 25rem;
    size: 1rem;
    text-decoration: none;
}

footer .social-net-footer .social-net{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 3;
}

footer .social-net-footer .logo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    order: 4;
}

footer .social-net .icons-footer{
    display: flex;
    justify-content: space-around;
}   

footer .rights {
    color: #8C8C94;
    font-size: 0.781rem;
    order: 5;
    padding-bottom: 4rem;
    text-align: center;
}

/****hover****/

.contact a:hover,
.button-more a:hover{
    background-color: #8B48BF;
    opacity: 0.7;
    transition: 250ms;
}

footer button:hover,
.button-go a:hover{
    background-color: #dcc8ec;
    color: #1E1E26;
    transition: 250ms;
}

header nav ul li a:hover{
    color: #242E52;
    opacity: 0.6;
}

footer nav ul li a:hover{
    color: #cdcfd7;
}

/*****Animaciones*****/

li:hover,
button:hover,
a:hover,
.icons-footer img:hover{
    animation: scaleA 0.3s forwards ;
}

@keyframes scaleA{
    to {
        transform: scale(1.2);
    }
}

.logo .bola{
    animation: rotar 5s  infinite;
}
  
@keyframes rotar {
    0% {
        transform: rotate(180deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


/*****Media Query*****/

@media(min-width:481px){

    /****header****/

    header .fa-solid.fa-bars{
        display: none;
    }

    header nav ul li,
    header .contact{
        display: block;
    }

    /****section-intro****/

    .section-intro{
        flex-direction: row; 
    }

    .section-intro img{
        height: 28.5rem;
        width: 28.5rem; 
    }

    .section-note .note-head{
        align-items: center;
        background-color: #8B48BF;
        flex-direction: row;
        height: 11rem;
        justify-content: space-around;
    }
     
    .note-head p.first-paragraph{  
        display: none;
        
    }

    .note-head p.second-paragraph{
        display: block;
        width: 30rem;
        
    }
    /****section-note****/

    .note{
        width: 36rem; 
    }

    .note-above{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .note-below{
        display: flex;
        justify-content: space-around;
    }

    .section-note .note-head h2{
        width: 26rem; 
    }

    .note-body h4{
        align-items: center;  
        background-color: #FAFAFA;
        color: #1E1E26;
        display: flex;
        height: 2.688rem;
        padding-left: 3rem;   
    }

    /****section-best****/

    .section-best-body article:nth-child(1), .section-best-body article:nth-child(3){
        display: block;
    }

    .section-best-body p{
        font-size: 0.8rem;
    }

    /****section-information****/

    .section-information{
        background-color: #8B48BF;
        flex-direction: row;
        height: 12rem;
        text-align: initial;
    }
    
    .section-information h2{
        font-size: 2.5rem;
        width: 28rem;
    }
    
    .button-go a{
        background-color: white;
        color: #8B48BF;
    }

    /****footer****/
    
    footer .container-footer{
        align-items: end;
        display: flex;
        flex-direction: row;
        height: 13rem;
        justify-content: space-around;
    }
      
    .social-net-footer {
        order: 3; 
    }
    
    .form-footer{
        order: 4;
        padding-bottom: 4rem;
    }

    .form-footer input{
        width: 12.56rem;
    }
    
    .nav-footer{
        display: flex;
        justify-content: space-around;
        margin-top: -3.5rem;
        order: 3;
        width: 30rem;
    }
    
    .nav-footer ul{
        list-style: none;
    }
    
    .nav-footer ul li {
        margin: 1rem;
    }

    footer .container-footer .social-net{
        display: flex;
        flex-direction: column-reverse;
        height: 14rem;
    }

    footer .icons-footer{
        display: flex;
        justify-content: space-around;
        width: 10rem;
    }
    
    footer .rights {
        color: #8C8C94;
        padding-bottom: 1rem;
        padding-right: 2.5rem;
        padding: 0;
        text-align: end;
    }
}

